<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" href="index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="index.js"></script>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<ul>
			<li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
		</ul>
		
		<hr>
			<ul>
				<li v-for="person in persons">
					<div v-for="(value, key, index) in person">{{key}}: {{value}} | {{index}}</div>
				</li>
			</ul>
		<hr>

		<hr>
			<span v-for="n in 10">{{n}}</span>
		<hr>
		<template v-for="(ingredient, index) in ingredients">
			<h1>{{ingredient}}</h1>
			<p>{{index}}</p>
		</template>
	

	</div>
	
</body>
</html>